@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*-------------------*\
        $MIXINS
\*-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Lato:wght@300;400;900&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 1600px;
  min-width: 320px;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  max-width: 1400px;
  width: 100%;
  height: calc(100vh + 80px);
  min-width: 320px;
}

.header__hero {
  width: 100%;
  min-width: 290px;
}

/*====SPLIDE====*/
.splide {
  height: calc(100vh + 80px);
}

.splide__slide img {
  min-height: calc(100vh + 80px);
  max-width: 100%;
  margin: 0 auto;
}

/*====fin SPLIDE====*/
.header__content {
  position: absolute;
  top: 0;
  margin-bottom: 50px;
  width: 100%;
  min-width: 290px;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header__logo {
  z-index: 9;
}

.header__logo a {
  margin-right: 20px;
}

.header__logo--img {
  height: 60px;
}

.header__nav {
  height: inherit;
  line-height: 70px;
  padding: 0 6% 0 9%;
  border-radius: 0 0 25px 25px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu__li {
  margin-right: 27px;
}

.menu__li--item {
  color: white;
  text-decoration: none;
}

.tienda {
  padding: 8px 10px;
  border-radius: 10px;
  background-color: orange;
}

.header__button {
  display: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  z-index: 10;
}

.header__button .linea {
  width: 25px;
  height: 5px;
  margin-bottom: 3px;
  border-radius: 15px;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    background-color: black;
    transition: left 0.5s;
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__button {
    display: block;
    z-index: 10;
  }

  .visible {
    left: 0%;
  }
}
.main {
  max-width: 1400px;
  min-width: 320px;
  width: 100%;
  margin-top: -80px;
}

.welcome {
  position: relative;
  min-height: calc(100vh + 150px);
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  background-image: url("../src/img/universo/fondoEspacio.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome__texto {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.welcome__texto--details {
  color: white;
  width: 50%;
  padding-top: 26%;
  padding-left: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.welcome__texto--details h2 {
  font-size: 3.6rem;
  text-shadow: 2px 2px 2px black;
}
.welcome__texto--details p {
  font-size: 2.2rem;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px 2px black;
}
.welcome__texto--btn {
  font-size: 1.7rem;
  padding: 2% 5%;
  margin-left: 68%;
  margin-top: 15px;
  border-radius: 15px;
  border: none;
  background-color: #FEE25A;
}

.welcome__planetas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.welcome__planetas .welcome__pluton {
  position: absolute;
  left: 53%;
  top: 15%;
  width: 10%;
}
.welcome__planetas .welcome__pluton img {
  max-width: 100%;
  min-width: 110px;
}
.welcome__planetas .welcome__saturno {
  position: absolute;
  left: -3%;
  top: 8%;
  width: 26%;
}
.welcome__planetas .welcome__saturno img {
  max-width: 100%;
}
.welcome__planetas .welcome__elephant {
  position: absolute;
  left: 68%;
  top: 21%;
  width: 30%;
}
.welcome__planetas .welcome__elephant img {
  max-width: 100%;
}
.welcome__planetas .welcome__venus {
  position: absolute;
  left: 35%;
  top: 78%;
  width: 25%;
}
.welcome__planetas .welcome__venus img {
  max-width: 100%;
}
.welcome__planetas .welcome__nube {
  position: absolute;
  bottom: -15rem;
  left: 0;
  right: 0;
  width: 120%;
}

@media only screen and (max-width: 1024px) {
  .welcome {
    background-position: center;
  }

  .welcome__texto--details {
    padding-top: 32%;
  }

  .welcome__planetas .welcome__saturno {
    position: absolute;
    left: -3%;
    top: 8%;
    width: 30%;
  }
  .welcome__planetas .welcome__saturno img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__elephant {
    position: absolute;
    left: 68%;
    top: 30%;
    width: 30%;
  }
  .welcome__planetas .welcome__elephant img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .welcome__texto--details {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 70%;
    margin: 0 auto;
    padding-top: 40%;
    padding-left: 0;
  }
  .welcome__texto--details h2 {
    font-size: 3.2rem;
    text-shadow: 2px 2px 2px black;
  }
  .welcome__texto--details p {
    font-weight: 300;
    text-shadow: 2px 2px 2px black;
    font-size: 2rem;
    text-shadow: 2px 2px 1px black;
  }
  .welcome__texto--details--btn {
    font-size: 1.7rem;
    padding: 2% 4%;
    margin-left: 66%;
    margin-top: 0px;
    border-radius: 15px;
    border: none;
    background-color: #FEE25A;
  }
  .welcome__planetas .welcome__pluton {
    position: absolute;
    left: 70%;
    top: 10%;
    width: 20%;
  }
  .welcome__planetas .welcome__pluton img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__saturno {
    position: absolute;
    left: -3%;
    top: 3%;
    width: 40%;
  }
  .welcome__planetas .welcome__saturno img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__elephant {
    position: absolute;
    left: 61%;
    top: 60%;
    width: 30%;
  }
  .welcome__planetas .welcome__elephant img {
    max-width: 100%;
    min-width: 200px;
  }
  .welcome__planetas .welcome__venus {
    position: absolute;
    left: 10%;
    top: 78%;
    width: 25%;
  }
  .welcome__planetas .welcome__venus img {
    max-width: 100%;
    min-width: 150px;
  }
}
@media only screen and (max-width: 528px) {
  .welcome__texto--details {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 70%;
    margin: 0 auto;
    padding-top: 45%;
    padding-left: 0;
  }
  .welcome__planetas .welcome__saturno {
    position: absolute;
    left: -3%;
    top: 3%;
    width: 40%;
  }
  .welcome__planetas .welcome__saturno img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__elephant {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 45%;
  }
  .welcome__planetas .welcome__elephant img {
    max-width: 100%;
    min-width: 180px;
  }
  .welcome__planetas .welcome__venus {
    position: absolute;
    left: 10%;
    top: 78%;
    width: 25%;
  }
  .welcome__planetas .welcome__venus img {
    max-width: 100%;
    min-width: 150px;
  }
}
@media only screen and (max-width: 400px) {
  .welcome__texto--details {
    width: 100%;
    font-weight: 600;
    width: 90%;
    padding-top: 45%;
  }
  .welcome__texto--details p {
    text-align: justify;
  }
  .welcome__texto--details button {
    font-size: 1.7rem;
    padding: 2% 4%;
    margin-left: 64%;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    background-color: #FEE25A;
  }
  .welcome__planetas .welcome__pluton {
    position: absolute;
    left: 68%;
    top: 2%;
    width: 20%;
  }
  .welcome__planetas .welcome__pluton img {
    max-width: 100%;
    min-width: 90px;
  }
  .welcome__planetas .welcome__saturno {
    position: absolute;
    left: -3%;
    top: 50%;
    width: 45%;
  }
  .welcome__planetas .welcome__saturno img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__elephant {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 45%;
  }
  .welcome__planetas .welcome__elephant img {
    max-width: 100%;
    min-width: 180px;
  }
  .welcome__planetas .welcome__venus {
    position: absolute;
    left: 10%;
    top: 78%;
    width: 30%;
  }
  .welcome__planetas .welcome__venus img {
    max-width: 100%;
    min-width: 100px;
  }
}
.temas {
  position: relative;
  max-width: 1400px;
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 7%;
  background-image: url("../src/img/cielo/cielo1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.temas__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 8%;
}
.temas__container h2 {
  width: 100%;
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 2%;
}

.temas__item {
  border-radius: 20px;
  padding: 2% 3%;
  margin-right: 7%;
  background: rgba(255, 255, 255, 0.5);
}

.temas__item:nth-child(4) {
  margin-right: 0px;
}

.temas__item img {
  max-width: 90%;
  border-radius: 10px;
}

.temas__item h3 {
  margin-top: 13px;
}

.temas__nubecita {
  position: absolute;
  top: 70%;
  left: -2%;
}

@media only screen and (max-width: 1024px) {
  .temas__container {
    padding-top: 15%;
  }

  .temas__container h2 {
    font-size: 3rem;
    margin-bottom: 1%;
  }

  .temas__container .temas__item:nth-child(2) {
    width: 42%;
    border-radius: 30px;
    padding: 3%;
    margin: 0 2% 0 6%;
  }

  .temas__container .temas__item:nth-child(3) {
    width: 42%;
    border-radius: 30px;
    padding: 3%;
    margin: 0 6% 0 2%;
  }

  .temas__container .temas__item:nth-child(4) {
    width: 42%;
    border-radius: 30px;
    padding: 3%;
    margin: 4% 0 0 0;
  }
}
@media only screen and (max-width: 528px) {
  .temas__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 8%;
  }
  .temas__container h2 {
    width: 100%;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2%;
  }
  .temas__container .temas__item:nth-child(2) {
    width: 100%;
    border-radius: 15px;
    padding: 3%;
    margin: 3% 8%;
  }
  .temas__container .temas__item:nth-child(3) {
    width: 100%;
    border-radius: 15px;
    padding: 3%;
    margin: 3% 8%;
  }
  .temas__container .temas__item:nth-child(4) {
    width: 100%;
    border-radius: 15px;
    padding: 3%;
    margin: 3% 8%;
  }
  .temas__container .temas__item img {
    border-radius: 15x;
  }
}

/*# sourceMappingURL=main.css.map */
