@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*-------------------*\
        $MIXINS
\*-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Lato:wght@300;400;900&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  max-width: 1600px;
  min-width: 320px;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  background-image: url("../src/img/fonHeader.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1400px;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.header__hero {
  height: calc(100vh + 100px);
  width: 100%;
  min-width: 290px;
}

/*====SPLIDE====*/
.splide__track {
  margin: 0;
  padding: 0;
}

.splide__slide img {
  width: 100%;
  height: calc(100vh + 100px);
  -o-object-fit: cover;
     object-fit: cover;
}

/*====fin SPLIDE====*/
.header__content {
  position: absolute;
  top: 0;
  margin-bottom: 50px;
  width: 100%;
  min-width: 290px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 9;
}

.header__logo a {
  margin-right: 20px;
}

.header__logo--img {
  height: 60px;
}

.header__nav {
  height: inherit;
  line-height: 70px;
  padding: 0 6% 0 9%;
  border-radius: 0 0 25px 25px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.menu__li {
  margin-right: 27px;
}

.menu__li--item {
  color: white;
  text-decoration: none;
}

.tienda {
  padding: 8px 10px;
  border-radius: 10px;
  background-color: orange;
}

.header__button {
  display: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  z-index: 10;
}

.header__button .linea {
  width: 25px;
  height: 5px;
  margin-bottom: 3px;
  border-radius: 15px;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    background-color: black;
    -webkit-transition: left 0.5s;
    transition: left 0.5s;
  }

  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__button {
    display: block;
  }

  .visible {
    left: 0%;
  }
}
main {
  max-width: 1600px;
  width: 100%;
  margin: -100px auto 0 auto;
}

.welcome {
  position: relative;
  width: 100%;
  height: calc(100vh + 170px);
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  background-image: url("../src/img/universo/fondoEspacio.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.welcome__texto {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.welcome__texto--details {
  color: white;
  width: 50%;
  padding-top: 26%;
  padding-left: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.welcome__texto--details h2 {
  font-size: 3.6rem;
  text-shadow: 2px 2px 2px black;
}

.welcome__texto--details p {
  font-size: 2.2rem;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px 2px black;
}

.welcome__texto--btn {
  font-size: 1.7rem;
  padding: 2% 5%;
  margin-left: 68%;
  margin-top: 15px;
  border-radius: 15px;
  border: none;
  background-color: #FEE25A;
}

.welcome__planetas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.welcome__pluton {
  position: absolute;
  left: 50%;
  top: 20%;
}

.welcome__pluton img {
  width: 42%;
}

.welcome__saturno {
  position: absolute;
  left: -3%;
  top: 8%;
}

.welcome__saturno img {
  width: 120%;
}

.welcome__elephant {
  position: absolute;
  left: 68%;
  top: 21%;
}

.welcome__elephant img {
  width: 120%;
}

.welcome__venus {
  position: absolute;
  left: 35%;
  top: 70%;
}

.welcome__venus img {
  width: 90%;
}

@media only screen and (max-width: 768px) {
  .welcome__texto--details {
    width: 70%;
    padding-top: 35%;
    padding-left: 5%;
  }

  .welcome__texto--details h2 {
    font-size: 3.2rem;
  }

  .welcome__texto--details p {
    font-size: 2rem;
    text-shadow: 2px 2px 1px black;
  }

  .welcome__texto--btn {
    font-size: 1.7rem;
    padding: 2% 4%;
    margin-left: 66%;
    margin-top: 0px;
    border-radius: 15px;
    border: none;
    background-color: #FEE25A;
  }

  .welcome__pluton {
    left: 75%;
    top: 10%;
  }

  .welcome__pluton img {
    width: 70%;
  }

  .welcome__saturno {
    left: -3%;
    top: 8%;
  }

  .welcome__saturno img {
    width: 80%;
  }

  .welcome__elephant {
    position: absolute;
    left: 68%;
    top: 45%;
  }

  .welcome__elephant img {
    width: 85%;
  }

  .welcome__venus {
    left: 35%;
    top: 80%;
  }

  .welcome__venus img {
    width: 55%;
  }
}
.main__nube {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  z-index: 99;
  overflow-x: hidden;
}

.main__nube img {
  position: absolute;
  margin-top: -10%;
  width: 120%;
  margin: 0 auto;
  height: 100px;
}

.temas {
  position: relative;
  max-width: 1400px;
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 7%;
  background-image: url("../src/img/cielo/cielo1.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.temas__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 8%;
}

.temas__container h2 {
  width: 100%;
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 2%;
}

.temas__item {
  border-radius: 40px;
  padding: 2% 1% 2% 1%;
  margin-right: 7%;
  background: rgba(255, 255, 255, 0.5);
}

.temas__item:nth-child(4) {
  margin-right: 0px;
}

.temas__item img {
  max-width: 90%;
  border-radius: 10px;
}

.temas__item h3 {
  margin-top: 13px;
}

.temas__nubecita {
  position: absolute;
  top: 70%;
  left: -2%;
}

@media only screen and (max-width: 768px) {
  .temas__container {
    padding-top: 15%;
  }

  .temas__container h2 {
    font-size: 3rem;
    margin-bottom: 1%;
  }

  .temas__container .temas__item:nth-child(2) {
    width: 42%;
    border-radius: 30px;
    padding: 3%;
    margin: 0 2% 0 6%;
  }

  .temas__container .temas__item:nth-child(3) {
    width: 42%;
    border-radius: 30px;
    padding: 3%;
    margin: 0 6% 0 2%;
  }

  .temas__container .temas__item:nth-child(4) {
    width: 42%;
    border-radius: 30px;
    padding: 3%;
    margin: 4% 0 0 0;
  }
}