@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
/*-------------------*\
        $MIXINS
\*-------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Lato:wght@300;400;900&family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0 auto;
}

body {
  width: 100%;
  max-width: 1600px;
  min-width: 320px;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  background-color: #88DEF5;
}

.header {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  max-width: 1400px;
  width: 100%;
  height: calc(100vh + 80px);
  min-width: 320px;
  margin: 0 auto;
}

.header__hero {
  width: 100%;
  min-width: 290px;
}

/*====SPLIDE====*/
.splide {
  height: calc(100vh + 80px);
}

.splide__slide img {
  min-height: calc(100vh + 80px);
  max-width: 100%;
  margin: 0 auto;
}

/*====fin SPLIDE====*/
.header__content {
  position: absolute;
  top: 0;
  margin-bottom: 50px;
  width: 100%;
  min-width: 290px;
  height: 70px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header__logo {
  z-index: 9;
}

.header__logo a {
  margin-right: 20px;
}

.header__logo--img {
  height: 60px;
}

.header__nav {
  height: inherit;
  line-height: 70px;
  padding: 0 6% 0 9%;
  border-radius: 0 0 25px 25px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu__li {
  margin-right: 27px;
}

.menu__li--item {
  color: white;
  text-decoration: none;
}

.tienda {
  padding: 8px 10px;
  border-radius: 10px;
  background-color: orange;
}

.header__button {
  display: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  z-index: 10;
}

.header__button .linea {
  width: 25px;
  height: 5px;
  margin-bottom: 3px;
  border-radius: 15px;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 100%;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    background-color: black;
    transition: left 0.5s;
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__button {
    display: block;
    z-index: 10;
  }

  .visible {
    left: 0%;
  }
}
.main {
  max-width: 1400px;
  min-width: 320px;
  width: 100%;
  overflow: hidden;
  margin: -80px auto 0 auto;
}

.welcome {
  position: relative;
  min-height: calc(100vh + 150px);
  max-width: 1400px;
  min-width: 320px;
  margin: 0 auto;
  background-image: url("../src/img/universo/fondoEspacio.png");
  background-repeat: no-repeat;
  background-size: cover;
  scrollbar-width: 0;
  overflow: hidden;
}
.welcome__texto {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.welcome__texto--details {
  color: white;
  width: 50%;
  padding-top: 26%;
  padding-left: 5%;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.welcome__texto--details h2 {
  font-size: 3.6rem;
  text-shadow: 2px 2px 2px black;
}
.welcome__texto--details p {
  font-size: 2.2rem;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px 2px black;
}
.welcome__texto--btn {
  font-size: 1.7rem;
  padding: 2% 5%;
  margin-left: 68%;
  margin-top: 15px;
  border-radius: 15px;
  border: none;
  background-color: #FEE25A;
}

.welcome__planetas {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.welcome__planetas .welcome__pluton {
  position: absolute;
  left: 53%;
  top: 15%;
  width: 10%;
}
.welcome__planetas .welcome__pluton img {
  max-width: 100%;
  min-width: 110px;
}
.welcome__planetas .welcome__saturno {
  position: absolute;
  left: -3%;
  top: 8%;
  width: 26%;
}
.welcome__planetas .welcome__saturno img {
  max-width: 100%;
}
.welcome__planetas .welcome__elephant {
  position: absolute;
  left: 68%;
  top: 15%;
  width: 30%;
}
.welcome__planetas .welcome__elephant img {
  max-width: 100%;
}
.welcome__planetas .welcome__venus {
  position: absolute;
  left: 35%;
  top: 75%;
  width: 25%;
}
.welcome__planetas .welcome__venus img {
  max-width: 100%;
}

@media only screen and (max-width: 1024px) {
  .welcome {
    background-position: center;
  }

  .welcome__texto--details {
    padding-top: 32%;
  }

  .welcome__planetas .welcome__saturno {
    position: absolute;
    left: -3%;
    top: 8%;
    width: 30%;
  }
  .welcome__planetas .welcome__saturno img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__elephant {
    position: absolute;
    left: 68%;
    top: 30%;
    width: 30%;
  }
  .welcome__planetas .welcome__elephant img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .welcome__texto--details {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 70%;
    margin: 0 auto;
    padding-top: 40%;
    padding-left: 0;
  }
  .welcome__texto--details h2 {
    font-size: 3.2rem;
    text-shadow: 2px 2px 2px black;
  }
  .welcome__texto--details p {
    font-weight: 300;
    text-shadow: 2px 2px 2px black;
    font-size: 2rem;
    text-shadow: 2px 2px 1px black;
  }
  .welcome__texto--details--btn {
    font-size: 1.7rem;
    padding: 2% 4%;
    margin-left: 66%;
    margin-top: 0px;
    border-radius: 15px;
    border: none;
    background-color: #FEE25A;
  }
  .welcome__planetas .welcome__pluton {
    position: absolute;
    left: 70%;
    top: 10%;
    width: 20%;
  }
  .welcome__planetas .welcome__pluton img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__saturno {
    position: absolute;
    left: -3%;
    top: 3%;
    width: 40%;
  }
  .welcome__planetas .welcome__saturno img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__elephant {
    position: absolute;
    left: 61%;
    top: 60%;
    width: 30%;
  }
  .welcome__planetas .welcome__elephant img {
    max-width: 100%;
    min-width: 200px;
  }
  .welcome__planetas .welcome__venus {
    position: absolute;
    left: 10%;
    top: 78%;
    width: 25%;
  }
  .welcome__planetas .welcome__venus img {
    max-width: 100%;
    min-width: 150px;
  }
}
@media only screen and (max-width: 528px) {
  .welcome__texto--details {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 70%;
    margin: 0 auto;
    padding-top: 45%;
    padding-left: 0;
  }
  .welcome__planetas .welcome__saturno {
    position: absolute;
    left: -3%;
    top: 3%;
    width: 40%;
  }
  .welcome__planetas .welcome__saturno img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__elephant {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 45%;
  }
  .welcome__planetas .welcome__elephant img {
    max-width: 100%;
    min-width: 180px;
  }
  .welcome__planetas .welcome__venus {
    position: absolute;
    left: 10%;
    top: 78%;
    width: 25%;
  }
  .welcome__planetas .welcome__venus img {
    max-width: 100%;
    min-width: 150px;
  }
}
@media only screen and (max-width: 420px) {
  .welcome__texto--details {
    width: 100%;
    font-weight: 600;
    width: 90%;
    padding-top: 35%;
  }
  .welcome__texto--details p {
    text-align: justify;
  }
  .welcome__texto--details button {
    font-size: 1.7rem;
    padding: 2% 4%;
    margin-left: 64%;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    background-color: #FEE25A;
  }
  .welcome__planetas .welcome__pluton {
    position: absolute;
    left: 68%;
    top: 2%;
    width: 20%;
  }
  .welcome__planetas .welcome__pluton img {
    max-width: 100%;
    min-width: 90px;
  }
  .welcome__planetas .welcome__saturno {
    position: absolute;
    left: -3%;
    top: 45%;
    width: 45%;
  }
  .welcome__planetas .welcome__saturno img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__elephant {
    position: absolute;
    left: 43%;
    top: 52%;
    width: 45%;
  }
  .welcome__planetas .welcome__elephant img {
    max-width: 100%;
    min-width: 220px;
  }
  .welcome__planetas .welcome__venus {
    position: absolute;
    left: 10%;
    top: 78%;
    width: 30%;
  }
  .welcome__planetas .welcome__venus img {
    max-width: 100%;
    min-width: 100px;
  }
}
@media only screen and (max-width: 370px) {
  .welcome__texto--details {
    width: 100%;
    font-weight: 600;
    width: 90%;
    padding-top: 30%;
  }
  .welcome__texto--details p {
    text-align: justify;
  }
  .welcome__texto--details button {
    font-size: 1.7rem;
    padding: 2% 4%;
    margin-left: 64%;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
    background-color: #FEE25A;
  }
  .welcome__planetas .welcome__pluton {
    position: absolute;
    left: 68%;
    top: 2%;
    width: 20%;
  }
  .welcome__planetas .welcome__pluton img {
    max-width: 100%;
    min-width: 90px;
  }
  .welcome__planetas .welcome__saturno {
    position: absolute;
    left: -3%;
    top: 53%;
    width: 45%;
  }
  .welcome__planetas .welcome__saturno img {
    max-width: 100%;
  }
  .welcome__planetas .welcome__elephant {
    position: absolute;
    left: 50%;
    top: 58%;
    width: 45%;
  }
  .welcome__planetas .welcome__elephant img {
    max-width: 100%;
    min-width: 180px;
  }
  .welcome__planetas .welcome__venus {
    position: absolute;
    left: 10%;
    top: 78%;
    width: 30%;
  }
  .welcome__planetas .welcome__venus img {
    max-width: 100%;
    min-width: 100px;
  }
}
.temas {
  position: relative;
  max-width: 1400px;
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
  padding-bottom: 7%;
  background-color: #88DEF5;
}

.temas__container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 12%;
}
.temas__container--nube {
  position: absolute;
  width: 120%;
  left: -10%;
  top: -18%;
}
.temas__container--nube img {
  width: 100%;
}
.temas__container h2 {
  width: 100%;
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 2%;
}
.temas__container--nubecita {
  position: absolute;
  top: 87%;
  left: -12%;
  width: 25%;
  min-width: 300px;
}
.temas__container--nubecita img {
  max-width: 100%;
}
.temas__container--aves {
  position: absolute;
  top: 27%;
  right: -15%;
  width: 25%;
}
.temas__container--aves img {
  max-width: 100%;
}

.temas__item {
  border-radius: 20px;
  padding: 2% 3%;
  margin-right: 7%;
  background: rgba(255, 255, 255, 0.5);
}

.temas__item:nth-child(5) {
  margin-right: 0px;
}

.temas__item img {
  max-width: 90%;
  border-radius: 10px;
}

.temas__item h3 {
  margin-top: 13px;
}

.temas__nubecita {
  position: absolute;
  top: 70%;
  left: -2%;
}

@media only screen and (max-width: 1024px) {
  .temas__container h2 {
    font-size: 3rem;
    margin-bottom: 1%;
  }

  .temas__container .temas__item:nth-child(3) {
    width: 42%;
    border-radius: 30px;
    padding: 3%;
    margin: 0 2% 0 6%;
  }

  .temas__container .temas__item:nth-child(4) {
    width: 42%;
    border-radius: 30px;
    padding: 3%;
    margin: 0 6% 0 2%;
  }

  .temas__container .temas__item:nth-child(5) {
    width: 42%;
    border-radius: 30px;
    padding: 3%;
    margin: 4% 0 0 0;
  }
}
@media only screen and (max-width: 1024px) {
  .temas__container {
    padding-top: 15%;
  }
  .temas__container--nube {
    position: absolute;
    width: 120%;
    left: -10%;
    top: -10%;
  }
  .temas__container--nube img {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .temas__container {
    padding-top: 15%;
  }
  .temas__container--nube {
    position: absolute;
    width: 120%;
    left: -10%;
    top: -8%;
  }
  .temas__container--nube img {
    width: 100%;
  }
}
@media only screen and (max-width: 528px) {
  .temas__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 12%;
  }
  .temas__container--nube {
    position: absolute;
    width: 120%;
    left: -10%;
    top: -4%;
  }
  .temas__container--nube img {
    width: 100%;
  }
  .temas__container h2 {
    width: 100%;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2%;
  }
  .temas__container .temas__item:nth-child(3) {
    width: 100%;
    border-radius: 15px;
    padding: 3%;
    margin: 3% 8%;
  }
  .temas__container .temas__item:nth-child(4) {
    width: 100%;
    border-radius: 15px;
    padding: 3%;
    margin: 3% 8%;
  }
  .temas__container .temas__item:nth-child(5) {
    width: 100%;
    border-radius: 15px;
    padding: 3%;
    margin: 3% 8%;
  }
  .temas__container .temas__item img {
    border-radius: 15px;
  }
}
@media only screen and (max-width: 420px) {
  .temas__container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 12%;
  }
  .temas__container--nube {
    position: absolute;
    width: 120%;
    left: -10%;
    top: -4%;
  }
  .temas__container--nube img {
    width: 100%;
  }
  .temas__container--nubecita {
    position: absolute;
    top: 64%;
    left: -20%;
    width: 40%;
    min-width: 180px;
  }
  .temas__container--nubecita img {
    max-width: 100%;
  }
  .temas__container--aves {
    position: absolute;
    top: 35%;
    right: -15%;
    width: 35%;
  }
  .temas__container--aves img {
    max-width: 100%;
  }
}
.nosotros {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  background-color: #88DEF5;
}
.nosotros__title {
  font-size: 36px;
  text-align: center;
  padding: 2% 0;
}
.nosotros__aves {
  position: absolute;
  top: 0;
  left: 0;
}
.nosotros__nube {
  position: absolute;
  top: 0;
  right: -1.5%;
  width: 27%;
}
.nosotros__nube img {
  max-width: 100%;
}
.nosotros__ave {
  position: absolute;
  top: 80%;
  left: 80%;
  width: 30%;
}
.nosotros__ave img {
  max-width: 100%;
}
.nosotros__nubeBottom {
  position: absolute;
  top: 105%;
  left: 15%;
  width: 17%;
}
.nosotros__nubeBottom img {
  max-width: 100%;
}

.nosotros__contain {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: auto;
  margin: 0 auto;
  border-radius: 30px;
  padding: 3% 0% 4% 1.5%;
  background: rgba(255, 255, 255, 0.7);
}

.nosotros__contain--1 {
  width: 100%;
  padding-right: 30%;
  margin: 0 auto;
  text-align: justify;
}

.nosotros__imagen {
  position: absolute;
  top: 4%;
  left: 80%;
  bottom: -4%;
  width: 32%;
}

.nosotros__imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.desarrollo {
  position: relative;
  width: 100%;
  height: calc(100vh + 270px);
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 9%;
}
.desarrollo__globo {
  position: absolute;
  left: -12%;
  top: -10%;
  width: 25%;
}
.desarrollo__globo img {
  max-width: 100%;
}

.desarrollo__title {
  text-align: center;
  font-size: 36px;
}

.desarrollo__contain {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5% 8% 0 15%;
}
.desarrollo__contain--fondo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.desarrollo__contain--fondo .picture {
  width: 100%;
}
.desarrollo__contain--fondo .picture source {
  max-width: 100%;
  min-height: calc(100vh + 190px);
}
.desarrollo__contain--elefante {
  position: absolute;
  bottom: 15%;
  right: 15%;
  width: 19%;
}
.desarrollo__contain--elefante img {
  max-width: 100%;
}
.desarrollo__contain--items {
  display: none;
}

.desarrollo__contain--1 {
  width: 48%;
  padding-bottom: 3%;
  list-style: none;
}
.desarrollo__contain--1 .desarrollo__contain--li {
  position: relative;
  display: flex;
}
.desarrollo__contain--1 .desarrollo__contain--li .desarrollo__contain--img {
  position: absolute;
  bottom: -10%;
  left: -3%;
  border-radius: 50%;
  background: rgba(136, 222, 245, 0.5);
  width: 20vh;
  height: 20vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.desarrollo__contain--1 .desarrollo__contain--li .desarrollo__contain--img img {
  max-width: 80%;
  border-radius: 50%;
  object-fit: cover;
}
.desarrollo__contain--1 .desarrollo__contain--li .desarrollo__contain--text {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 135px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  padding: 2% 1% 2% 28%;
  background: rgba(255, 255, 255, 0.7);
}
.desarrollo__contain--1 .desarrollo__contain--li .desarrollo__contain--text h2 {
  font-size: 1.9rem;
}

@media screen and (max-width: 1024px) {
  .desarrollo {
    padding-top: 8%;
    height: 100vh;
  }

  .desarrollo__contain {
    padding-top: 5%;
  }
  .desarrollo__contain--fondo {
    left: 0;
    top: 0;
    width: 100%;
  }
  .desarrollo__contain--fondo img {
    max-width: 100%;
    min-height: 80vh;
  }
  .desarrollo__contain--elefante {
    position: absolute;
    bottom: 10%;
    right: 15%;
    width: 19%;
  }
  .desarrollo__contain--elefante img {
    max-width: 100%;
  }

  .desarrollo__contain--1 {
    width: 65%;
    padding-bottom: 3%;
  }
  .desarrollo__contain--1 .desarrollo__contain--li .desarrollo__contain--img {
    width: 16vh;
    height: 16vh;
  }
}
@media screen and (max-width: 768px) {
  .desarrollo {
    padding-top: 15%;
  }

  .desarrollo__contain {
    padding: 8% 8% 0% 5%;
  }
  .desarrollo__contain--fondo {
    left: 0;
    top: 0;
    width: 100%;
  }
  .desarrollo__contain--fondo img {
    max-width: 100%;
    min-height: 75vh;
  }
  .desarrollo__contain--elefante {
    position: absolute;
    bottom: 25%;
    right: 5%;
    width: 22%;
  }
  .desarrollo__contain--elefante img {
    max-width: 100%;
  }

  .desarrollo__contain--1 {
    width: 75%;
    padding-bottom: 3%;
  }
  .desarrollo__contain--1 .desarrollo__contain--li .desarrollo__contain--img {
    width: 15vh;
    height: 15vh;
  }
}
@media screen and (max-width: 580px) {
  .desarrollo {
    padding-top: 5%;
    background-color: red;
  }

  .desarrollo__contain {
    padding-top: 0;
    height: calc(100vh - 10%);
    padding: 0;
    padding-bottom: 0%;
  }
  .desarrollo__contain--fondo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .desarrollo__contain--fondo .picture {
    height: 90vh;
    width: 100%;
    border: 10px solid green;
  }
  .desarrollo__contain--fondo .picture img {
    height: 100vh;
    min-width: 100%;
  }
  .desarrollo__contain--elefante {
    position: absolute;
    bottom: 0%;
    left: 30%;
    width: 40%;
  }
  .desarrollo__contain--elefante img {
    max-width: 100%;
  }

  .desarrollo__contain--1 {
    display: none;
  }

  .desarrollo__contain--items {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, 1fr);
    width: 70%;
    height: 70%;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    z-index: 1;
    padding-top: 0%;
  }
  .desarrollo__contain--items .item:nth-child(odd) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  .desarrollo__contain--items .item:nth-child(odd) img {
    max-width: 25%;
  }
  .desarrollo__contain--items .item:nth-child(odd) h2 {
    padding-left: 5%;
    font-size: 2.1rem;
  }
  .desarrollo__contain--items .item:nth-child(even) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }
  .desarrollo__contain--items .item:nth-child(even) img {
    max-width: 25%;
  }
  .desarrollo__contain--items .item:nth-child(even) h2 {
    padding-left: 5%;
    font-size: 2.1rem;
  }
}
.footer {
  width: 100%;
  height: auto;
  min-width: 320px;
  max-width: 1400px;
  padding: 5% 8%;
  background-image: url("../src/img/footer/tierra.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-color: red;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.footer__redes {
  width: 100%;
  margin: 0 auto;
}
.footer__redes .redes__ul {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer__redes .redes__ul--item a {
  display: block;
  width: 50%;
}
.footer__redes .redes__ul--item a img {
  max-width: 100%;
}
.footer__texto {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5rem;
  padding: 2% 0;
}
.footer__texto p {
  margin-bottom: 5px;
}
.footer__contacto {
  width: 100%;
  margin: 0 auto;
}
.footer__contacto ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.footer__contacto ul li {
  font-size: 2.2rem;
  margin-right: 25px;
  line-height: 55px;
}
.footer__contacto ul li img {
  height: calc(100% - 2.2rem);
  max-width: 12%;
  margin-right: 5px;
}

/*# sourceMappingURL=main.css.map */
