*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    max-width: 1600px;
    min-width: 320px;
    font-family: verdana;
    font-size: 1.6rem;
    margin: 0 auto;
    background-image: url('../src/img/fonHeader.svg');
    background-repeat: no-repeat;
    background-size:cover;
}