.desarrollo{
    position: relative;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding-top: 10%;
    background-color: #88DEF5;
}
.desarrollo__title{
    text-align: center;
    font-size: $title
}
.desarrollo__contain{
    width: 100%;
    margin: 0 auto;
    padding: 2% 8%;
    background-color: blue;
}
.desarrollo__contain--1{
    width: 40%;
    list-style: none;
    background-color: green;
    li{
        display: flex;
        .desarrollo__contain--img{
            border-radius: 15px;
            background-color: black;
            width: 30%;
            img{
                max-width: 90%;
            }
        }
        .desarrollo__contain--text{
            background-color: skyblue;
        }
    }
}