.footer{
    width: 100%;
    height: auto;
    min-width: 320px;
    max-width: 1400px;
    padding: 5% 8%;
    background-image: url("../src/img/footer/tierra.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $blanco;
    background-color:red;
    @include flexCol;
    &__redes{
        width: 100%;
        margin: 0 auto;
        .redes__ul{
            
            width: 100%;
            @include flexFila;
            list-style: none;
            &--item{
                a{
                    display: block;
                    width: 50%;
                    img{
                        max-width: 100%;
                    }
                }
            }
        }
    }
    &__texto{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 2.5rem;
        padding: 2% 0;
        p{
            margin-bottom: 5px;
        }
    }
    &__contacto{
        width: 100%;
        margin: 0 auto;
        // background-color: red;
        ul{
            list-style: none;
            @include flexFila;
            li{
                font-size: 2.2rem;
                margin-right: 25px;
                line-height: 55px;
                img{
                    height: calc(100% - 2.2rem );
                    max-width:12% ;
                    margin-right: 5px;
                }
            }
        }
    }
}
