.main__nube {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: red;
    overflow-x: hidden;
}

.main__nube img {
    position: absolute;
    top: -100px;
    left: -10%;
    margin: 0 auto;
    width: 120%;
}