.welcome {
    position: relative;
    min-height: calc(100vh + 150px);
    max-width: 1400px;
    min-width: 320px;
    margin: 0 auto;
    background-image: url("../src/img/universo/fondoEspacio.png");
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-width: 0;
    overflow: hidden;

    &__texto {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        &--details {
            color: $blanco;
            width: 50%;
            padding-top: 26%;
            padding-left: 5%;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;

            h2 {
                font-size: 3.6rem;
                text-shadow: 2px 2px 2px black;
            }

            p {
                font-size: 2.2rem;
                font-family: 'Kanit', sans-serif;
                font-weight: 300;
                text-shadow: 2px 2px 2px black;
            }
        }

        &--btn {
            font-size: 1.7rem;
            padding: 2% 5%;
            margin-left: 68%;
            margin-top: 15px;
            border-radius: 15px;
            border: none;
            background-color: $mostaza;
        }

    }
}

.welcome__planetas {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;

    .welcome__pluton {
        position: absolute;
        left: 53%;
        top: 15%;
        width: 10%;

        img {
            max-width: 100%;
            min-width: 110px;
        }
    }

    .welcome__saturno {
        position: absolute;
        left: -3%;
        top: 8%;
        width: 26%;

        img {
            max-width: 100%;
        }
    }


    .welcome__elephant {
        position: absolute;
        left: 68%;
        top: 15%;
        width: 30%;

        img {
            max-width: 100%;
        }
    }


    .welcome__venus {
        position: absolute;
        left: 35%;
        top: 75%;
        width: 25%;

        img {
            max-width: 100%;
        }
    }
}




@media only screen and (max-width:1024px) {
    .welcome {
        background-position: center;
    }

    .welcome__texto--details {
        padding-top: 32%;
    }

    .welcome__planetas {
        .welcome__saturno {
            position: absolute;
            left: -3%;
            top: 8%;
            width: 30%;

            img {
                max-width: 100%;
            }
        }

        .welcome__elephant {
            position: absolute;
            left: 68%;
            top: 30%;
            width: 30%;

            img {
                max-width: 100%;
            }
        }
    }

}

@media only screen and (max-width:768px) {
    .welcome {
        &__texto {
            &--details {
                width: 100%;
                // background-color: red;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                width: 70%;
                margin: 0 auto;
                padding-top: 40%;
                padding-left: 0;

                h2 {
                    font-size: 3.2rem;
                    text-shadow: 2px 2px 2px black;
                }

                p {
                    font-weight: 300;
                    text-shadow: 2px 2px 2px black;
                    font-size: 2rem;
                    text-shadow: 2px 2px 1px black;
                }

                &--btn {
                    font-size: 1.7rem;
                    padding: 2% 4%;
                    margin-left: 66%;
                    margin-top: 0px;
                    border-radius: 15px;
                    border: none;
                    background-color: $mostaza;
                }
            }
        }


        &__planetas {
            .welcome__pluton {
                position: absolute;
                left: 70%;
                top: 10%;
                width: 20%;

                img {
                    max-width: 100%;
                    // min-width: 130px;
                }
            }

            .welcome__saturno {
                position: absolute;
                left: -3%;
                top: 3%;
                width: 40%;

                img {
                    max-width: 100%;
                    // min-width: 280px;
                }
            }

            .welcome__elephant {
                position: absolute;
                left: 61%;
                top: 60%;
                width: 30%;

                img {
                    max-width: 100%;
                    min-width: 200px;
                }
            }

            .welcome__venus {
                position: absolute;
                left: 10%;
                top: 78%;
                width: 25%;

                img {
                    max-width: 100%;
                    min-width: 150px;
                }
            }
        }
    }

}

@media only screen and (max-width:528px) {
    .welcome {
        &__texto {
            &--details {
                width: 100%;
                // background-color: red;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                width: 70%;
                margin: 0 auto;
                padding-top: 45%;
                padding-left: 0;
            }
        }


        &__planetas {

            .welcome__saturno {
                position: absolute;
                left: -3%;
                top: 3%;
                width: 40%;

                img {
                    max-width: 100%;
                    // min-width: 280px;
                }
            }

            .welcome__elephant {
                position: absolute;
                left: 50%;
                top: 60%;
                width: 45%;

                img {
                    max-width: 100%;
                    min-width: 180px;
                }
            }

            .welcome__venus {
                position: absolute;
                left: 10%;
                top: 78%;
                width: 25%;

                img {
                    max-width: 100%;
                    min-width: 150px;
                }
            }
        }
    }

}

@media only screen and (max-width:420px) {
    .welcome {
        &__texto {
            &--details {
                width: 100%;
                font-weight: 600;
                width: 90%;
                padding-top: 35%;

                p {
                    text-align: justify;
                }

                button {
                    font-size: 1.7rem;
                    padding: 2% 4%;
                    margin-left: 64%;
                    margin-top: 20px;
                    border-radius: 15px;
                    border: none;
                    background-color: $mostaza;
                }
            }
        }


        &__planetas {
            .welcome__pluton {
                position: absolute;
                left: 68%;
                top: 2%;
                width: 20%;

                img {
                    max-width: 100%;
                    min-width: 90px;
                }
            }

            .welcome__saturno {
                position: absolute;
                left: -3%;
                top: 45%;
                width: 45%;

                img {
                    max-width: 100%;
                    // min-width: 280px;
                }
            }

            .welcome__elephant {
                position: absolute;
                left: 43%;
                top: 52%;
                width: 45%;

                img {
                    max-width: 100%;
                    min-width: 220px;
                }
            }

            .welcome__venus {
                position: absolute;
                left: 10%;
                top: 78%;
                width: 30%;

                img {
                    max-width: 100%;
                    min-width: 100px;
                }
            }
        }
    }

}

@media only screen and (max-width:370px) {
    .welcome {
        &__texto {
            &--details {
                width: 100%;
                font-weight: 600;
                width: 90%;
                padding-top: 30%;

                p {
                    text-align: justify;
                }

                button {
                    font-size: 1.7rem;
                    padding: 2% 4%;
                    margin-left: 64%;
                    margin-top: 20px;
                    border-radius: 15px;
                    border: none;
                    background-color: $mostaza;
                }
            }
        }


        &__planetas {
            .welcome__pluton {
                position: absolute;
                left: 68%;
                top: 2%;
                width: 20%;

                img {
                    max-width: 100%;
                    min-width: 90px;
                }
            }

            .welcome__saturno {
                position: absolute;
                left: -3%;
                top: 53%;
                width: 45%;

                img {
                    max-width: 100%;
                    // min-width: 280px;
                }
            }

            .welcome__elephant {
                position: absolute;
                left: 50%;
                top: 58%;
                width: 45%;

                img {
                    max-width: 100%;
                    min-width: 180px;
                }
            }

            .welcome__venus {
                position: absolute;
                left: 10%;
                top: 78%;
                width: 30%;

                img {
                    max-width: 100%;
                    min-width: 100px;
                }
            }
        }
    }

}