.welcome{
    position: relative;
    width: 100%;
    height: calc(100vh + 170px);
    max-width: 1400px;
    min-width: 320px;
    margin: 0 auto;
    background-image: url("../src/img/universo/fondoEspacio.svg");
    background-repeat: no-repeat;
    background-size:cover;
}
.welcome__planeta{
    position: absolute;
    left: 60%;
    top: 10%;
}
.welcome__texto{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.welcome__texto--details{
    color: $blanco;
    width: 70%;
    padding-top: 33%;
    padding-left: 5%;
}
.welcome__texto--details p{
    font-size: 1.5rem;
}
.welcome__planetas{
    position: absolute;
    left:0;
    top: 0;
    bottom: 0;
    right: 0;
}
.welcome__pluton{
    position: absolute;
    left: 47%;
    top: 20%;
}
.welcome__pluton img{
    max-width: 70%;
}
.welcome__saturno{
    position: absolute;
    top: 11%;
    left: -3.9%;
}
.welcome__saturno img{
    max-width: 85%;
}
.welcome__elephant{
    position: absolute;
    left: 61%;
    top: 26%;
}
.welcome__elephant img{
    max-width: 90%;
}
.welcome__venus{
    position: absolute;
    left: 50%;
    top: 78%;
}
.welcome__venus img{
    max-width: 60%;
}
@media only screen and (max-width:768px){
    .welcome__pluton img{
        max-width: 70%;
    }
    .welcome__saturno{
        top: 4%;
    }
    .welcome__saturno img{
        max-width: 40%;
    }
    .welcome__elephant{
        top: 25%;
    }
    .welcome__elephant img{
        max-width: 100%;
    }
    .welcome__venus{
        position: absolute;
        left: 50%;
        top: 70%;
    }
    .welcome__venus img{
        max-width: 30%;
    }
    .welcome__texto--details{
        color: $blanco;
        width: 65%;
        padding-top: 30%;
        padding-left: 13%;
    }
}


